.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.App {
  margin: 0px 186px;
}

.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FlexContainer .link {
  width: 30%;
  height: 30px;
  margin: 10px;
  border: none;
  text-align: start;
  font-size: larger;
  color: gray;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.FlexContainer .active-button {
  color: white;
  background-color: gray;
  border-radius: 5px;
}